*{
    box-sizing: border-box;
    font-family: "Livvic", sans-serif;
}
section {
    width: 100%;
    background-color: #014E56;
    padding: 120px 165px;
    position: relative;
}
section .box1{
gap: 30px;
}
section .box1 p{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: white;
    width: 730px;
    margin-top: 40px;
}
section .box1 h1{
    width: 350px;
    font-weight: 700;
    font-size: 64px;
    line-height: 100px;
    color: white;
}
.image{
    position: absolute;
    right: 0px;
    bottom: 0px;
}
/* section p::before{
    display: block;
    background-color: red;
    width: 300px;
    height: 200px;
} */
 .met{
color: white;
text-align: center;
font-weight: 700;
font-size: 48px;
line-height: 48px;
 }
/* section 3 */
.aboutSecrion3 {
  background-color: #012f34;
}
.aboutSection3TopImg {
  width: 200px;
  height: 200px;
}
.SomeOf {
  font-size: 48px;
  color: white;
  text-align: center;
}
.aboutSection3Div2 {
  display: flex;
  padding: 50px 0 120px 0;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.aboutSection3Div2 img {
  width: 165px;
}
@media screen and (max-width: 1025px) {
  .aboutSection3Div2 {
    justify-content: space-between;
  }
  .SomeOf {
    font-size: 32px;
  }
  .aboutSection3Div2 img {
  width: 100px;
}
}
@media screen and (max-width: 768px) {
  .aboutSection3Div2 {
    flex-direction: column;
  }
  .aboutSection3Div2 img {
  width: 100%;
}
}
